LAB_SSH_USER=ci-runner
LAB_SSH_KEY=/home/github-runner/.ssh/terrasync_lab
LAB_SOURCE_MGMT=10.131.9.12
LAB_DEST_MGMT=10.131.9.13
LAB_WORKER_MGMT=10.131.9.14
LAB_SOURCE_DATA=10.10.1.12
LAB_DEST_DATA=10.10.1.13
LAB_WORKER_DATA=10.10.1.14
LAB_NFS3_EXPORT=/srv/nfs/v3
LAB_NFS41_EXPORT=/srv/nfs/v4
LAB_HDFS_LOCATION=hdfs://hdfs%2Fhdfs-namenode%40HDFS.LOCAL@10.131.9.30:9000/
LAB_HDFS_ADMIN_USER=hdfs/hdfs-namenode@HDFS.LOCAL
LAB_HDFS_CONFIG_DIR=/etc/hadoop
LAB_HDFS_KEYTAB=/etc/security/keytabs/hdfs.service.keytab
LAB_HDFS_NAMENODE_HOST=10.131.9.30
LAB_HDFS_NAMENODE_HTTPS_PORT=9871
LAB_HDFS_DATANODE1_HOST=10.131.9.31
LAB_HDFS_DATANODE2_HOST=10.131.9.32
LAB_HDFS_DATANODE1_DATA=10.10.1.31
LAB_HDFS_DATANODE2_DATA=10.10.1.32
LAB_SOURCE_S3=http://10.10.1.12:9000
LAB_DEST_S3=http://10.10.1.13:9000
LAB_WORKER_S3=http://10.10.1.14:9000
